body   
    div.show-photo
        div.photo-shadow-box(onclick="closePhoto()")
        div.photo-item.photo-item-active#photo
            div.close
                span(onclick="closePhoto()")
                    i.fas.fa-times
            div.photo-title
                span.photo-title-image 
            div.photo-image
                img.image-show(src="", alt="")
            div.photo-content
                span.photo-content-image
                            

