body
    header
        nav.header
            div.nav
                a(href="/feeds") 
                    span.nav-name Fotobook 
                form.nav-input
                    input.nav-search.form-control(type="text", name="", placeholder="Search Photo / Album")
                ul.nav-right
                    li 
                        img(src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png", alt="")
                    li
                        a(href="#")  Thuan Nguyen
                    li
                        a(href="/auth/login")  Logout            