body   
    div.show-photo
        div.photo-shadow-box(onclick="closePhoto()")
        div.photo-item.photo-item-active#photo
            div.close
                span(onclick="closePhoto()")
                    i.fas.fa-times
            div.photo-title
                span Nam tempor posuere faucibus
            div.photo-image
                img.image-show(src="", alt="")
            div.photo-content
                span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis at justo sit amet porttitor. Integer iaculis at justo sit amet porttitor! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis at justo sit amet porttitor. Integer iaculis at justo sit amet porttitor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis at justo sit amet porttitor. Integer iaculis at justo sit amet porttitor.
                            

