body
    header
        nav.header
            div.nav
                a(href="/feeds/photos")  
                    span.nav-name Fotobook 
                form.nav-input
                    input.nav-search.form-control(type="text", name="", placeholder="Search Photo / Album")
                ul.nav-right
                    if user
                        li 
                            a(href="/profile")
                                img.nav-avatar(src=`/${user.image}`, alt="")
                        li
                            a.nav-name(href="/profile")=`${user.lastName + " " + user.firstName}`
                        li
                            form
                                a.nav-logout(href="/auth/logout")  Logout  
                    else
                        li          
                            a.nav-name(href="/auth/signin")  Login