doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
        link(rel="icon", href ="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png", type = "image/x-icon")
        title Signup
        style
            include ../feeds/feeds.css
            include ./signup.css
            include ../login/login.css
    body
        div.container-fluid.container-login   
            include ../nav/nav.pug
            section
                div.container 
                    h1.login Fotobook Signup
                    form(action="/auth/signup" method="POST").signup-form
                        if hasErrors
                            each mess in messages
                                div.input-form.input-error
                                    span.err= mess
                        div.input-form
                            label(for="firstName") First Name
                            input#firtName(type="text", placeholder="First Name", name="firstName", required).form-control
                        div.input-form
                            label(for="lastName") Last Name
                            input#lastName(type="text", placeholder="Last Name", name="lastName" required).form-control
                        div.input-form
                            label(for="email") Email
                            input#email(type="text", placeholder="Email", name="email" required).form-control
                        div.input-form
                            label(for="password") New Password
                            input#password(type="password", placeholder="Password", name="password" required).form-control
                        div.input-form
                            label(for="confirm-password") Password Confimnation
                            input#confirm-password(type="password", placeholder="Password", name="confirm-password" required).form-control
                        button(type="submit").btn Signup
                        




            