doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
        link(rel="icon", href ="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png", type = "image/x-icon")
        title Login
        style
            include ../feeds/feeds.css
            include ./signin.css
    body
        div.container-fluid.container-login   
            include ../nav/nav.pug
            section
                div.container 
                    h1.login Fotobook Login
                    form(action="/auth/signin" method="POST").login-form
                        img(src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120", alt="")
                        input(type="text", name="email", placeholder="Email" required).email-login.form-control
                        input(type="password", name="password", placeholder="Password" required).password-login.form-control
                        button(type="submit").btn Login
                        a(href="#").login-link Forgot password?
                    a(href="/auth/signup").login-link Create a account!
                    if hasErrors
                        each mess in messages
                            span.err= mess 



            