doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", crossorigin="anonymous")
        link(rel="icon", href ="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png", type = "image/x-icon")
        title Add Album
        style
            include ../feeds/feeds.css
            include ./addAlbum.css
        script 
            include ./addAlbum.js
    body
        div.container-fluid
            include ../nav/nav.pug  
            section
                div.category
                    ul
                        li 
                            a(href="/feeds/photos?page=1")  Feeds
                        li 
                            a(href="/photos?page=1") My Photos
                        li 
                            a(href="/albums") My Albums
                div.container.container-add
                    form.form-addAlbum(action="/albums/", method="POST", enctype="multipart/form-data")
                        div.top
                            h4 New Album 
                            a(href="/albums" type="button") Back   
                        div.center
                            div.left
                                div.title
                                    label(for="title") Title
                                    input(type="text", name="title", value=album.title, placeholder="Album Title", required) 
                                div.lock
                                    label(for="isPublic") Sharing mode
                                    select(name="isPublic")
                                        option(value="true") Public
                                        option(value="false") Private
                            div.right
                                label(for="description") Description
                                textarea(name="description", cols="30", rows="4", placeholder="Album Description", required)=album.description       
                        div.image.image-albums
                            label.label-upload(for="image") 
                                img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYNrBBoQAA9dt1Cj6UOhSb_gw5_IQQmBbpdw&usqp=CAU", alt="")
                            input#image(type="file", accept="image/*", name="image", multiple, onchange="setImage(this)")
                        div.bottom
                            button(type="submit") Save
                            span.mess(class= error)=mess   